<nav >
  <div >
    <button  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span ></span>
    </button>
    <a  href="#"><%= @title.upcase || BudgetApp %></a>
    <ul >
        <li >
        
        </li>
        </ul>
    <div  id="navbarSupportedContent">
      <ul >
        <li >
          <a href="/">Categories</a>
        </li>
        <li >
          <a  href="/sign_out" method="delete">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
<% @groups.each do |group|%>
<div onclick="window.location='/groups/<%=group.id%>'" class="container bg-white border mb-3 row pb-2 pt-2 ms-0 ps-0 pe-0 shadow-sm capybara">
<i class="fa <%= group.icon %> fa-4x col p-0 d-flex justify-content-center align-self-center" aria-hidden="true"></i>
  
<div >
  <p ><%= group.name %></p>
  <p >$<%= group.total_amount %></p>
  </div>
  </div>
<% end %>
</div>

<div class="fixed-bottom">
<%= button_to 'Add Category', new_group_path, method: :get %>
</div>