<%= form_with url: "/groups", scope: :group do |f| %>

<nav class="new_cat_nav">
  
    <ul >
     <li >
       <%= link_to '<', '/',class:"new_cat_title" %>
     </li>
    </ul>

    <a class="new_cat_title"  href="#"><%= @title.upcase || BudgetApp %></a>
    
    <%= f.submit 'Create', class:"new_cat_btn" %>
  
</nav>


  <%= f.text_field :name, placeholder: 'Category Name', class:"log_form"%>
  <%= f.text_field :icon, placeholder: 'Icon Name', class:"log_form"%>
  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>