<nav class="detail_nav">

  <div class="detail_inner">
    <ul >
        <li class="detail_inner_arrow">
        <%= link_to '<', '/', class:"detail_inner_arrow_final"%>
        </li>
    </ul>
    <a class="detail_title" href="#"><%= @title.upcase || BudgetApp %> DETAILS</a>
   
    <div>
      <ul>
        <li >
          <a class="detail_log" href="/sign_out">Log out</a>
        </li>
      </ul>
    </div>

  </div>
</nav>



<div class="detail_content">

<div class="detail_total">
  <p class="detail_total_payment" >Total Payment:  </p>$
  <%= @total || 0 %>
</div>

<div>
  <% @expenses.each do |expense| %>
  <div>

    <div class="detail_inner_total" >
      <div class="inner_total_expense">
        <p>
          <%= expense.name %>
        </p>
         <p class="inner_total_amount" >
          $ <%= expense.amount %>
        </p>
      </div>
      </div>
    </div>
      <% end %>
</div>

<div class="detail_btn_container">
  <%= button_to 'Add Transaction', new_group_expense_path(params[:id]), method: :get, class:"detail_inner_btn" %>
</div>

</div>